<a href="https://colab.research.google.com/github/rony260699/Machine_Learning/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [ ]:
url = 'https://raw.githubusercontent.com/rashakil-ds/Feature-Engineering/refs/heads/main/customer_purchase_dataset.csv'

In [ ]:
df = pd.read_csv(url)

In [ ]:
df

,Customer_ID,Gender,Age,Income,Car_Type,Marital_Status,Has_Children,Education,Credit_Score,Purchased
0,CUST14792,Female,NaN,46207.0,Sedan,Married,No,Bachelor,655.0,Yes
1,CUST13238,Female,NaN,57772.0,Truck,Married,Yes,Bachelor,630.0,No
2,CUST12833,Female,NaN,26054.0,Luxury,Single,No,Master,516.0,No
3,CUST13048,Male,NaN,58508.0,Hatchback,Single,Yes,Master,667.0,No
4,CUST13309,Male,NaN,35518.0,SUV,Divorced,No,Master,661.0,No
...,...,...,...,...,...,...,...,...,...,...
5032,CUST14426,Male,33.0,33529.0,Hatchback,Married,No,Master,537.0,Yes
5033,CUST10466,Male,49.0,47840.0,Truck,Married,No,Master,684.0,No
5034,CUST13092,Female,59.0,20000.0,Hatchback,Married,No,Bachelor,760.0,Yes
5035,CUST13772,Female,43.0,50349.0,Luxury,Single,No,High School,606.0,No
5036,CUST10860,Male,44.0,32073.0,SUV,Married,Yes,Bachelor,609.0,Yes

In [ ]:
df.shape

(5037, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5037 entries, 0 to 5036
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer_ID     5037 non-null   object
 1   Gender          5037 non-null   object
 2   Age             5025 non-null   float64
 3   Income          5030 non-null   float64
 4   Car_Type        5037 non-null   object
 5   Marital_Status  5037 non-null   object
 6   Has_Children    5037 non-null   object
 7   Education       5037 non-null   object
 8   Credit_Score    5015 non-null   float64
 9   Purchased       5037 non-null   object
dtypes: float64(3), object(7)
memory usage: 393.6+ KB

In [ ]:
df['Purchased'].value_counts()

Purchased
Yes    3030
No     2007
Name: count, dtype: int64

In [ ]:
df.describe()

               Age         Income  Credit_Score
count  5025.000000    5030.000000   5015.000000
mean     39.602388   38974.260437    680.460818
std      11.992447   13977.152263     60.285814
min      18.000000   20000.000000    485.000000
25%      30.000000   28598.250000    640.000000
50%      38.000000   36641.000000    680.000000
75%      47.000000   46527.750000    721.000000
max      70.000000  150000.000000    850.000000

Preprocessing

In [ ]:
df

,Customer_ID,Gender,Age,Income,Car_Type,Marital_Status,Has_Children,Education,Credit_Score,Purchased
0,CUST14792,Female,NaN,46207.0,Sedan,Married,No,Bachelor,655.0,Yes
1,CUST13238,Female,NaN,57772.0,Truck,Married,Yes,Bachelor,630.0,No
2,CUST12833,Female,NaN,26054.0,Luxury,Single,No,Master,516.0,No
3,CUST13048,Male,NaN,58508.0,Hatchback,Single,Yes,Master,667.0,No
4,CUST13309,Male,NaN,35518.0,SUV,Divorced,No,Master,661.0,No
...,...,...,...,...,...,...,...,...,...,...
5032,CUST14426,Male,33.0,33529.0,Hatchback,Married,No,Master,537.0,Yes
5033,CUST10466,Male,49.0,47840.0,Truck,Married,No,Master,684.0,No
5034,CUST13092,Female,59.0,20000.0,Hatchback,Married,No,Bachelor,760.0,Yes
5035,CUST13772,Female,43.0,50349.0,Luxury,Single,No,High School,606.0,No
5036,CUST10860,Male,44.0,32073.0,SUV,Married,Yes,Bachelor,609.0,Yes

Drop Column

In [ ]:
df = df.drop(columns=['Customer_ID'], axis=1)

In [ ]:
df

,Gender,Age,Income,Car_Type,Marital_Status,Has_Children,Education,Credit_Score,Purchased
0,Female,NaN,46207.0,Sedan,Married,No,Bachelor,655.0,Yes
1,Female,NaN,57772.0,Truck,Married,Yes,Bachelor,630.0,No
2,Female,NaN,26054.0,Luxury,Single,No,Master,516.0,No
3,Male,NaN,58508.0,Hatchback,Single,Yes,Master,667.0,No
4,Male,NaN,35518.0,SUV,Divorced,No,Master,661.0,No
...,...,...,...,...,...,...,...,...,...
5032,Male,33.0,33529.0,Hatchback,Married,No,Master,537.0,Yes
5033,Male,49.0,47840.0,Truck,Married,No,Master,684.0,No
5034,Female,59.0,20000.0,Hatchback,Married,No,Bachelor,760.0,Yes
5035,Female,43.0,50349.0,Luxury,Single,No,High School,606.0,No
5036,Male,44.0,32073.0,SUV,Married,Yes,Bachelor,609.0,Yes

🔷 STEP 2: Handle Missing Values (Age)
Option 1: Median fill (Best practice)

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].median())

🔷 STEP 3: Encode Target Variable

In [ ]:
df['Purchased'] = df['Purchased'].map({'Yes':1,'No':0})

In [ ]:
df['Purchased']

0       1
1       0
2       0
3       0
4       0
       ..
5032    1
5033    0
5034    1
5035    0
5036    1
Name: Purchased, Length: 5037, dtype: int64

**🔷 STEP 4: Encode Categorical Features**

Categorical columns:

In [ ]:
categori_column = ['Gender','Car_Type','Marital_Status',
    'Has_Children','Education']

Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
for col in categori_column:
  df[col] = le.fit_transform(df[col])

In [ ]:
df

,Gender,Age,Income,Car_Type,Marital_Status,Has_Children,Education,Credit_Score,Purchased
0,0,38.0,46207.0,3,1,0,0,655.0,1
1,0,38.0,57772.0,4,1,1,0,630.0,0
2,0,38.0,26054.0,1,2,0,2,516.0,0
3,1,38.0,58508.0,0,2,1,2,667.0,0
4,1,38.0,35518.0,2,0,0,2,661.0,0
...,...,...,...,...,...,...,...,...,...
5032,1,33.0,33529.0,0,1,0,2,537.0,1
5033,1,49.0,47840.0,4,1,0,2,684.0,0
5034,0,59.0,20000.0,0,1,0,0,760.0,1
5035,0,43.0,50349.0,1,2,0,1,606.0,0
5036,1,44.0,32073.0,2,1,1,0,609.0,1

🔷 STEP 5: Feature / Target split

In [ ]:
X = df.drop('Purchased', axis = 1)
X

,Gender,Age,Income,Car_Type,Marital_Status,Has_Children,Education,Credit_Score
0,0,38.0,46207.0,3,1,0,0,655.0
1,0,38.0,57772.0,4,1,1,0,630.0
2,0,38.0,26054.0,1,2,0,2,516.0
3,1,38.0,58508.0,0,2,1,2,667.0
4,1,38.0,35518.0,2,0,0,2,661.0
...,...,...,...,...,...,...,...,...
5032,1,33.0,33529.0,0,1,0,2,537.0
5033,1,49.0,47840.0,4,1,0,2,684.0
5034,0,59.0,20000.0,0,1,0,0,760.0
5035,0,43.0,50349.0,1,2,0,1,606.0
5036,1,44.0,32073.0,2,1,1,0,609.0

In [ ]:
Y = df['Purchased']
Y

0       1
1       0
2       0
3       0
4       0
       ..
5032    1
5033    0
5034    1
5035    0
5036    1
Name: Purchased, Length: 5037, dtype: int64

🔷 STEP 6: Train - Test split

In [ ]:
from sklearn.model_selection import train_test_split as tts

In [ ]:
X_train, X_text, Y_train, Y_test = tts(X,Y, test_size=0.2, random_state=42, stratify = Y) #for yes/no ratio maintain

In [ ]:
from sklearn.tree import DecisionTreeClassifier

One-line Summary

criterion → কীভাবে split করবে

max_depth → গাছ কত বড়

min_samples_split → কত data হলে split

random_state → reproducibility

In [ ]:
dt = DecisionTreeClassifier(
    criterion='entropy',   # Information Gain
    max_depth=10,           # Overfitting control
    min_samples_split=40,  # Noise control
    random_state=42
)

In [ ]:
dt.fit(X_train, Y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=10, min_samples_split=40,
                       random_state=42)

🔷 5. MODEL EVALUATION

In [ ]:
from sklearn.metrics import accuracy_score
y_pred = dt.predict(X_text)
accuracy_score(Y_test, y_pred)

0.6825396825396826